/*//// CLASSES ////*/

.frame {
	position: static;
	align: center;
	/*border: 1px solid red;*/
	width: 600px;
	margin: 0 auto;
}
.board {
	height: 360px;
	width: 360px;
	align: center;
	/*border-collapse: collapse;*/
	margin: 0 auto;
	border-spacing: 10px;	
	/*border: 1px solid red;*/
}
.flip3D {
	height: 60px;
	width: 60px;
	margin: 5px 10px;
	float: left;
	border-radius: 5px;
}
.front {
	transform: perspective(600px) rotateY(0deg);
	height: 60px;
	width: 60px;
	border: 3px solid white;
	border-radius: 5px;
	background: #133E49;
	/*backface-visibility: hidden;*/
	transition: transform .5s linear 0s;
}
.back {
	transform: perspective(600px) rotateY(180deg);
	height: 60px;
	width: 60px;
	border: 3px solid white;
	border-radius: 5px;
	background: #357E90;
	/*backface-visibility: hidden;*/
	transition: transform .5s linear 0s;
}

.flip:active > .front {
	transform: perspective(600px) rotateY(-180deg);
}	
.flip:active > .back {
	transform: perspective(600px) rotateY(0deg);
}


/*//// IDs ////*/

/* Reset Button */
#reset {
	position: relative;
	align: left;
	font-family:"Merriweather Sans";
	font-size: 14px;
	color: #222222;
	width: 76px;
	background: white;
	padding: 2px 0;
	margin: 15px 130px;
	border: 5px solid white;
	border-radius: 5px;
}


/*//// ELEMENTS ////*/
body {
	background: #031F26;
}
h1{
	font-family: "Merriweather Sans";
	font-size: 32px;
	color: white;
	text-align: center;
	margin: 30px 0 0 0;
}
p{
	font-family: "Roboto";
	font-size: 14px;
	color: white;
	margin: -10px 10px 20px 10px;
	text-align: center;
}

