/*//// CLASSES ////*/

.frame {
	position: static;
	align: center;
	width: 700px;
	margin: 0 auto;
}
.board {
	height: 420px;
	width: 520px;
	align: center;
	margin: 0 auto;
	border-spacing: 10px;	
}
.faceDown {
	transform: perspective(600px) rotateY(0deg);
	height: 70px;
	width: 70px;
	border: 3px solid white;
	border-radius: 5px;
	background: #133E49;
	color: #133E49;
	transition: transform .5s linear 0s;
}
.faceUp {
	transform: perspective(600px) rotateY(180deg);
	height: 70px;
	width: 70px;
	border: 3px solid white;
	border-radius: 5px;
	background: #357E90;
	transition: transform .5s linear 0s;
	font-family: "Roboto";
	color: white;
	font-size: 40px;
	text-align: center;
}
.matched {
	transform: perspective(600px) rotateY(180deg);
	height: 70px;
	width: 70px;
	border: 3px solid #0C252B;
	border-radius: 5px;
	background: #031F26;
	transition: transform .25s linear 0s;
	color: #031F26;
}


/*//// IDs ////*/

/* Reset Button */
#reset {
	position: relative;
	align: left;
	font-family:"Merriweather Sans";
	font-size: 14px;
	color: #222222;
	width: 194px;
	background: white;
	padding: 2px 0;
	margin: 15px 100px;
	border: 5px solid white;
	border-radius: 5px;
}


/*//// ELEMENTS ////*/
body {
	background: #031F26;
}
h1{
	font-family: "Merriweather Sans";
	font-size: 40px;
	color: white;
	text-align: center;
	margin: 30px 0 0 0;
}
p{
	font-family: "Roboto";
	font-size: 14px;
	color: white;
	margin: -10px 10px 20px 10px;
	text-align: center;
}

