/*//// CLASSES ////*/

.frame {
	position: static;
	align: center;
	/*border: 1px solid red;*/
	width: 700px;
	margin: 0 auto;
}
.board {
	height: 460px;
	width: 520px;
	align: center;
	/*border-collapse: collapse;*/
	margin: 0 auto;
	border-spacing: 10px;	
	/*border: 1px solid red;*/
}
.faceDown {
	transform: perspective(600px) rotateY(0deg);
	height: 70px;
	width: 70px;
	border: 3px solid white;
	border-radius: 5px;
	background: #133E49;
	/*backface-visibility: hidden;*/
	transition: transform .5s linear 0s;
}
.faceUp {
	transform: perspective(600px) rotateY(180deg);
	height: 70px;
	width: 70px;
	border: 3px solid white;
	border-radius: 5px;
	background: #357E90;
	/*backface-visibility: hidden;*/
	transition: transform .5s linear 0s;
	font-family: "Roboto";
	color: white;
	font-size: 40px;
	text-align: center;
}
.matched {
	transform: perspective(600px) rotateY(180deg);
	height: 70px;
	width: 70px;
	border: 3px solid #0C252B;
	border-radius: 5px;
	background: #031F26;
	transition: transform .5s linear 0s;
	color: #031F26;
}
/*.flip3D {
	height: 60px;
	width: 60px;
	margin: 5px 10px;
	float: left;
	border-radius: 5px;
}*/
/*.flip:active > .front {
	transform: perspective(600px) rotateY(-180deg);
}	
.flip:active > .back {
	transform: perspective(600px) rotateY(0deg);
}*/


/*//// IDs ////*/

/* Reset Button */
#reset {
	position: relative;
	align: left;
	font-family:"Merriweather Sans";
	font-size: 14px;
	color: #222222;
	width: 78px;
	background: white;
	padding: 2px 0;
	margin: 5px 110px;
	border: 5px solid white;
	border-radius: 5px;
}


/*//// ELEMENTS ////*/
body {
	background: #031F26;
}
td{
	position: static;
	height: 70px;
	width: 70px;
	margin: 5px 10px;
	float: left;
	border-radius: 5px;
	color: #133E49;

}
h1{
	font-family: "Merriweather Sans";
	font-size: 32px;
	color: white;
	text-align: center;
	margin: 30px 0 0 0;
}
p{
	font-family: "Roboto";
	font-size: 14px;
	color: white;
	margin: -10px 10px 20px 10px;
	text-align: center;
}

